body{
    background-color: black;
    color:white;    
}
h2{
    text-transform: capitalize;
}
.myCard{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;    
    align-items: center;
    
    
}
.myCard img{ 
    border-radius: 50%;
    width: 20%;
    height: 20%;
 }   
.zeb{
    background-color: rgba(165, 42, 42, 0.655);
    width: 50%;
    text-align: center;
    padding: 50px 30px;
    border-radius: 10px;
}
